<div [ngClass]="{'home-page': isHomePage}">
  <app-navbar></app-navbar>
  
  <!-- Layout pour les pages avec sidebar (dashboard) -->
  <div style="display: flex;" *ngIf="showSidebar">
    <app-sidebar></app-sidebar>
    <main style="width: 100%;">
      <!-- Loader component for page transitions -->
      <app-loader></app-loader>
      <!-- Main content displayed via router -->
      <router-outlet></router-outlet>
    </main>
  </div>
  
  <!-- Layout pour les pages sans sidebar (pages normales qui ne sont pas la page d'accueil) -->
  <div *ngIf="!showSidebar && !isHomePage">
    <main class="content-area-no-sidebar">
      <!-- Loader component for page transitions -->
      <app-loader></app-loader>
      <!-- Main content displayed via router -->
      <router-outlet></router-outlet>
    </main>
  </div>
  
  <!-- Affichage spécial pour la page d'accueil -->
  <div *ngIf="isHomePage">
    <router-outlet></router-outlet>
  </div>
  
  <app-footer></app-footer>
</div>
